/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #222222;
  background-color: #07a566; }

a {
  color: #4b2979;
  text-decoration: none; }

.page-header {
  padding: 20px;
  color: green;
  text-align: center;
  font-size: 1.2em;
  background: #00cbff;
  margin-bottom: 0px;
  background: #07a566; }
  .page-header a {
    color: #edfff0;
    display: inline-block;
    margin: 0px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33); }
  .page-header .title {
    color: #edfff0;
    text-shadow: 2px 2px 0px #9a52fb;
    font-size: 1.5em;
    border-bottom: none; }

.navigation {
  font-size: 1.3em;
  text-transform: uppercase;
  background: #4b2979;
  text-align: center;
  margin-bottom: 10px; }
  .navigation li {
    display: inline-block;
    padding: 10px; }
    .navigation li a {
      text-decoration: none;
      color: #edfff0; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.container {
  margin: 0 10%;
  padding: 0.8em; }

.films {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  overflow-x: visible;
  align-content: flex-end;
  align-items: top;
  justify-content: center; }
  .films .film {
    flex-shrink: 1;
    background: white;
    float: left;
    min-height: 120px;
    min-width: 400px;
    max-width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    margin-bottom: 20px;
    transition: opacity .2s, background .2s;
    background: white;
    padding: .8em;
    box-shadow: 5px 5px 1px #4b2979; }
    .films .film:last-of-type {
      margin-right: 5%; }
    .films .film .film-clickable {
      display: block;
      height: 100%; }
    .films .film .film-ticket-name {
      display: block;
      float: right;
      text-align: center;
      padding: 8px 10px; }
    .films .film .film-ticket {
      display: block;
      color: white;
      float: right;
      width: 100px;
      text-align: center;
      padding: 8px 10px;
      border: 1px solid white;
      margin-right: 10px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

.cd-schedule.loading .events .single-event {
  /* the class .loading is added by default to the element
     it is removed as soon as the single events are placed in the schedule plan (using javascript) */
  opacity: 0; }

.film-name,
.film-date,
.film-venue,
.film-subline {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.film-subline {
  font-size: 0.8em;
  font-style: italic; }

.film-info {
  font-size: 1.25em;
  padding: 20px 55px;
  word-break: break-word; }
  .film-info p {
    margin-bottom: 20px; }
  .film-info title {
    font-variant: italic;
    font-weight: bold;
    display: block; }
  .film-info a {
    margin-top: 10px;
    text-decoration: underline;
    color: #07a566; }

.film-name .film-time {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 12px;
  opacity: 0.7; }

.film-name {
  font-size: 2.4rem;
  clear: both;
  font-weight: bold;
  border-bottom: 2px solid #07a566; }
  @media only screen and (min-width: 800px) {
    .film-name {
      font-size: 2rem; } }

.film-video,
.film-description,
.film-link {
  margin-bottom: 0.35em; }

.film-description {
  margin-top: 0.35em;
  line-height: 1.25em; }

.film-date,
.film-venue {
  /* they are not included in the the HTML but added using JavScript */
  font-size: 1.7rem;
  line-height: 1.2;
  margin-bottom: .2em;
  float: left; }

.film-venue {
  margin-left: 10px; }

.single-event[data-event="film-1"] .film-date, .single-event[data-event="film-1"] .film-venue {
  color: #9a52fb; }

[data-event="film-1"] .film-ticket {
  background-color: #9a52fb; }

.single-event[data-event="film-2"] .film-date, .single-event[data-event="film-2"] .film-venue {
  color: #be63d2; }

[data-event="film-2"] .film-ticket {
  background-color: #be63d2; }

.single-event[data-event="film-3"] .film-date, .single-event[data-event="film-3"] .film-venue {
  color: #4b2979; }

[data-event="film-3"] .film-ticket {
  background-color: #4b2979; }

.single-event[data-event="film-4"],
[data-event="film-4"] .header-bg {
  color: #4b2979; }

[data-event="film-4"] .film-ticket {
  background-color: #4b2979; }

.single-event[data-event="film-party"] .film-date, .single-event[data-event="film-party"] .film-venue {
  color: #03ad7a; }

[data-event="film-party"] .film-ticket {
  background-color: #03ad7a; }

.single-event[data-event="film-fair"] .film-date, .single-event[data-event="film-fair"] .film-venue {
  color: #2b91c1; }

[data-event="film-fair"] .film-ticket {
  background-color: #2b91c1; }

.film-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  /* Force Hardware acceleration */
  transform: translateZ(0);
  transform: translateX(100%);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: transform .4s, visibility .4s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1); }
  .film-modal .film-modal-wrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%; }
    .film-modal .film-modal-wrapper .header {
      position: relative;
      height: 70px;
      /* vertically center its content */
      display: table;
      width: 100%; }
      .film-modal .film-modal-wrapper .header .content {
        position: relative;
        z-index: 3;
        /* vertically center inside its parent */
        display: table-cell;
        vertical-align: middle;
        padding: .6em 5%; }
        .film-modal .film-modal-wrapper .header .content .film-ticket {
          display: block;
          float: left;
          color: white;
          padding: 8px 10px;
          background: rgba(0, 0, 0, 0.1);
          border: 1px solid white;
          margin-right: 10px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .film-modal .film-modal-wrapper .header .content .film-date, .film-modal .film-modal-wrapper .header .content .film-venue {
          display: block;
          color: white;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
    .film-modal .film-modal-wrapper .body {
      position: relative;
      width: 100%;
      min-height: 100%;
      /* 70px is the .header height */ }
  .film-modal .film-info {
    position: relative;
    z-index: 2;
    line-height: 1.4;
    background: white;
    overflow: visible; }
    .film-modal .film-info > div {
      overflow: auto;
      height: 100%;
      padding: 1.4em 5%; }
  .film-modal .header-bg, .film-modal .body-bg {
    /* these are the morphing backgrounds - visible on desktop only */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .film-modal .body-bg {
    z-index: 1;
    background: #07a566;
    transform-origin: top left; }
  .film-modal .header-bg {
    z-index: 2;
    transform-origin: top center; }
  .film-modal .close {
    /* this is the 'X' icon */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.1);
    /* replace text with icon */
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
    height: 70px;
    width: 70px; }
    .film-modal .close::before, .film-modal .close::after {
      /* these are the two lines of the 'X' icon */
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 22px;
      background: #07a566;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .film-modal .close::before {
      transform: translateX(-50%) translateY(-50%) rotate(45deg); }
    .film-modal .close::after {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
  .film-modal.no-transition {
    transition: none; }
    .film-modal.no-transition .header-bg, .film-modal.no-transition .body-bg {
      transition: none; }

body.modal-is-open {
  overflow: hidden; }
  body.modal-is-open .film-modal {
    /* .modal-is-open class is added as soon as an event is selected */
    transform: translateX(0);
    visibility: visible;
    background: white; }
    body.modal-is-open .film-modal .film-info > div {
      /* smooth scroll on iOS touch devices */
      -webkit-overflow-scrolling: touch; }

@media only screen and (min-width: 800px) {
  .cd-schedule.animation-completed .film-modal .close,
  .cd-schedule.content-loaded.animation-completed .film-modal .film-info {
    /* 	the .animation-completed class is added when the modal animation is completed
    	the .content-loaded class is added when the modal content has been loaded (using ajax) */
    opacity: 1;
    transition: opacity .2s; }

  .cd-schedule.modal-is-open .body-bg {
    opacity: 1;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1); } }
.cover-layer {
  /* layer between the content and the modal window */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s; }

.cd-schedule.modal-is-open .cover-layer {
  opacity: 1;
  visibility: visible; }

/*# sourceMappingURL=style.css.map */
